* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --webkit-font-smoothing: antialiased;
}

:root {
  font-size: 62.5%; /*10px*/
}

.global {
  background: #303443; /*#303443 or #343541*/

  /* place-items: center; */
  /* min-height: 100vh; */
}

#root {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}