* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  background: #303443; /*#303443 or #343541*/

  display: flex;
  /* place-items: center; */
  min-height: 100vh;
}