.square {
  width: 10rem;
  height: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;
  /* place-content: center; */
}

.black-square {
  background-color: #042F66;
}

.white-square {
  background-color: #B3B3B3;
}

.marked-square {
  background-color: #CC8C12
}

.square .chess-piece {
  width: 10rem;
  height: 10rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5rem;
}

.square .chess-piece:hover {
  cursor: grab;
}

.square .chess-piece:active {
  cursor: grabbing;
}